.menuContainer {
    height: 250px;
    width: 250px; 
    border: 1px solid black; 
    margin: 20px; 
    float: left; 
}

.menuItem {
    padding: 5px; 
    text-align: center;
}

ul {
    list-style: none; 
}